* {
 box-sizing: border-box;
}

:root {
 --hoverTextColor: rgb(244, 51, 151);
 --textColor: rgb(87, 85, 85);
}

body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 color: var(--textColor);
}

img {
 max-width: 100%;
 height: auto;
}

.lowestpriceContainer {
 display: flex;
 flex-wrap: wrap;
 margin: 50px auto;
 max-width: 1024px;
}

.lowestpriceContainer h1 {
 font-size: 40px;
 margin: 0;
 color: rgb(36, 31, 31);
}

.lowestPrice_text {
 width: 100%;
 padding: 25px;
 box-sizing: border-box;
}

.lowestPrice_image {
 width: 100%;
 margin-top: 20px;
}

.lowestPrice_icon {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: rgb(238, 133, 187);
 display: flex;
 justify-content: center;
 align-items: center;
}

.lowestPriceWhay {
 display: flex;
 flex-wrap: wrap;
 margin: 20px 0;
}

.lowestPriceItem {
 padding: 10px;
 width: calc(100% / 3);
 display: flex;
 align-items: center;
 border-bottom: 2px solid #ccc;
 box-sizing: border-box;
}

.lowestPriceItem p {
 padding-left: 10px;
 margin: 0;
}

.downloadApp_contianer {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 500px; 
   min-width: 350px;
   margin: 15px auto;
   background-color: rgb(244, 51, 151);
   border: none;
   outline: none;
   padding: 5px auto;
   border-radius: 5px;
   color: white;
   font-size: 20px;
   cursor: pointer;
  }

.downloadApp_contianer p {
    margin-left: 10px;
 }

.downloadAppIcon img {
    width: 40px;
 }

.downloadApp_contianer:hover {
      background-color: rgb(210, 40, 151); 
 }

  @media (min-width: 370px) {
    .lowestPrice_text {
    width: 50%;
    padding-right: 25px;
  }

  .lowestPrice_image {
    width: 50%;
    margin-top: 0;
  }

  .downloadApp_contianer {
   margin-top: 0;
  }
 }


.topCategoriesFrom{
 max-width: 1024px;
 margin: auto;
}
.topCategoriesHeading{
 display: flex;
 align-items: center;
 
}
.horizontalLine{
 padding: 1px;
 background-color: var(--hoverTextColor);
 width:50%;
}
.topCategoriesHeading h1{   
 width: max-content;
 width: 1024px;
 color:rgb(8, 8, 8);
 font-size: 34px;
 margin: 0;
}


.topCategoreisImage {
 width: 100%;
 object-fit: contain;
 background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
 background-repeat: no-repeat;
 margin-top: 50px;
 display: flex;
 align-items: flex-end;
 overflow: hidden; 
}

.topCategoreisImage img {
 max-width: 100px;
 margin: 10px;
 bottom: 0;
 transition: transform 0.3s ease; 
}

.topCategoreisImage img:first-child {
 max-width: 200px;
}

.topCategoreisImage img:hover {
 transform: scale(1.1); 
}

.womenStore{
 width: 40%;
 display: flex;
 flex-wrap: wrap;
 justify-content: left;
 gap: 0px; /* Reduced gap */
 margin-right: 50px;
}

.menStore {
 width: 25%; /* Set to 67% of the width of womenStore */
 display: flex;
 flex-wrap: wrap;
 justify-content: right;
 gap: 6px;
 margin-right: 50px;
}

.KidsStore{
 width: 25%; /* Set to 67% of the width of womenStore */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 6px;
}

.storeItem {
 width: calc(50% - 10px); /* Adjusted width for two items in a row */
 height: 250px; /* Fixed height for circle */
 max-width: 250px; /* Added max-width to prevent overflow on smaller screens */
 border-radius: 50%;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.storeItem img {
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: cover;
}

.storeItem .content {
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
 text-align: center;
}

.storeItem .content h5 {
 margin: 5px 0; /* Adjust margin */
}

/* Media query for smaller screens like iPhone SE */
@media screen and (max-width: 375px) {
 .storeItem {
  width: calc(20% - 20px);
 }
}


.essentialContainer {
 width: 100%;
 max-width: 1024px;
 background-color: #400px; /* Corrected color value */
 margin-top: 50px;
 background-image: url("https://images.meesho.com/images/marketing/1664343269674.jpg");
 background-repeat: no-repeat;
 display: flex;
 align-items: flex-end;
 justify-content: space-between;
}

.essentialContainer img {
 max-width: 15vw; /* Using viewport width as a relative unit */
 transition: transform 0.3s ease-in-out; /* Adding transition for smooth hover effect */
}

.essentialContainer img:hover {
 transform: scale(1.1); /* Scaling the image on hover */
}

.essential_item {
 margin-top: 50px;
 margin-left:20px;
 margin-right:40px;
 margin-bottom: 25px;
 max-width: 250px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 50%;
}

.essen-btn {
 margin-left: 100px;
 margin-top: 20px;
 
 transition: transform 0.3s ease-in-out; /* Adding transition for smooth hover effect */
}

.essen-btn:hover {

 cursor: pointer;
 transform: scale(1.1); /* Scaling the button on hover */
}


.becomesellerBanner_Container {
 width: 1024px;
 max-width:100%;
 height:700px;
 object-fit: contain;
 border-width: 2px;
 margin: 50px 0; 
 position: relative;
}

.becomesellerBanner_Container img {
 width: 100%;
 height:80%;

}

.becomeSeller_Content {
 position: absolute;
 top: 0;
 right: 0;
 width: 100%;
 padding: 4%; /* Adjust padding using relative units */
}

.becomeSeller_content_content {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-items: center;
}

.becomerSeller_appDownload {
 position: relative;
 width: 150px;
 height: 50px;
 background-color: black;
 margin: 10px;
 padding: 5px;
 border-radius: 5px;
}

.becomerSeller_appDownload img {
 width: 100%;
 
}

.becomeSeller_content_content h2 {
 color: rgb(85, 133, 248);
 font-size: 1.5rem; /* Adjust font-size as needed */
 margin-bottom: 0;
}

.becomeSeller_content_content h1 {
 color: var(--hoverTextColor);
 font-size: 2.5rem; /* Adjust font-size as needed */
 width: 60%;
 text-align: left;
}

.becomerSeller_appDownload_container {
 display: flex;
}

/* Media queries for smaller screens */
@media screen and (min-width: 1168px) {
 .becomesellerBanner_Container {
    margin: 30px 0; /* Adjust margin for smaller screens */
 }

 .becomeSeller_content_content h1 {
    font-size: 2rem; /* Adjust font-size for smaller screens */
 }

 .becomerSeller_appDownload {
    width: 120px; /* Adjust width for smaller screens */
    height: 40px; /* Adjust height for smaller screens */
    margin: 5px; /* Adjust margin for smaller screens */
 }

 .becomeSeller_content_content h2 {
font-size: 1.3rem; /* Adjust font-size for smaller screens */
 }
}



.meeesho_benifit_image{
 width: 20px;
 margin-right: 10px;
}
.meesho_supper_benifit{
 display: flex;
 align-items: center;
 padding: 0px 40px;
 border-right: 2px solid white;
 height: 25px;
}
.meesho_supper_benifit:first-child{
 padding: 0;
 padding-right: 40px;
}
.meesho-suppliear_benifit_container{
 display: flex;
 align-items: center;
 margin: 40px 0px;
}
.meesho_supper_container{
 position: relative;
}
.meesho_supper_container_content{
 position: absolute;
 top: 0;
 padding: 20px 30px;
 color:white;
}
.signup_btn_now{
 background-color: white;
 color:var(--hoverTextColor);
 font-size: 20px;
 font-weight: bold;
 padding: 15px 20px;
 box-sizing: border-box;
 text-decoration: none;
 border-radius: 5px;
}
.signup_btn_now:hover{
 background-color: rgb(240,240 , 240, 0.9);
}